body
{
  font-size: 10pt;
  font-family: arial,sans serif;
  background-color: white;
  color: black
}

textarea
{
  font-size: 10pt;
  font-family: arial,sans serif;
  background-color: white;
  color: black;
  behavior:url(#default#savehistory);
}

input
{
  behavior:url(#default#savehistory);
}

select
{
  behavior:url(#default#savehistory);
}

div 
{
  margin : 0px;
}

h1
{
  font-size: 16pt;
  font-weight: bold
  margin-top: 3px;
  margin-bottom: 3px;
}

h2
{
  font-size: 15pt;
  font-weight: bold
  margin-top: 4px;
  margin-top: 4px;
}

h3
{
  font-size: 13pt;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 2px;
}

.greyTextbox
{
  background-color:lightgrey;
  color:gray;
}

.greytable 
{ 
  background-color:lightgrey 
}

.bordertable 
{ 
  background-color:lightgrey 
}

tr.results 
{ 
  background-color:white;
  font-family: arial,sans serif;
  font-size: 8pt
}  

td
{
  font-size: 10pt
}

td.system 
{ 
  color:darkblue 
}

td.pastdue 
{ 
  color:red;
  background-color:gold
}

th
{
  font-size: 10pt;
  font-weight: bold;
  color : black
}

th.mandatory
{
  font-size: 10pt
  font-weight: bold;
  color : darkred
}



.bordertext 
{ 
 padding: 5px;
 width: 265px;
 border: 1px solid DimGray
}
.bordertext2 
{ 
 padding: 5px;
 width: 195px;
 border: 1px solid DimGray
}

.lborder
{
  border-collapse : collapse; 
  border-left : 2px solid black;
}

.tborder
{
  border-collapse : collapse; 
  border-top : 2px solid black;
}

.tlborder
{
  border-collapse : collapse; 
  border-top : 2px solid black;
  border-left : 2px solid black;
}

.trborder
{
  border-collapse : collapse; 
  border-top : 2px solid black;
  border-right : 2px solid black;
}

.rborder
{
  border-collapse : collapse; 
  border-right : 2px solid black;
}

.grborder
{
  border-collapse : collapse; 
  border-right : 2px solid lightgrey ;
}

.bborder
{
  border-collapse : collapse; 
  border-bottom : 2px solid black;
}

.brborder
{
  border-collapse : collapse; 
  border-bottom : 2px solid black;
  border-right : 2px solid black;
}

.blborder
{
  border-collapse : collapse; 
  border-bottom : 2px solid black;
  border-left : 2px solid black;
}



.calendar
{
  font-size: 9pt;
  behavior:url(#default#savehistory);
}

.userDisplayTitle
{
  color : darkred;
  font-size: 10pt
}

.cornum
{
  color : darkblue;
  font-weight: bold;
  font-size: 11pt
}



input.subbtn
{
  padding-left: 5px;
}

input.stdbtn
{
  width : 200px
}


option.group 
{ 
  color:darkblue; 
  background-color:lemonchiffon;
  font-weight:bold
}

option.person 
{
  color:black 
}

option.avoidperson 
{
  color:darkred 
}

option.avoidgroup 
{
  color:darkred; 
  background-color:lemonchiffon; 
  font-weight:bold
}


.navbar
{
  font-size: 12pt;
  font-weight: bold;
  color : black;
  background-color : white
}

.navbar_Search
{
  font-size: 12pt;
  font-weight: bold;
  color : black;
  background-color : white
}
a:link.navbar 
{
  color : darkblue;
  background-color : lemonChiffon;
  text-decoration: none
}
 
a.navbar:visited
{
  color : darkblue;
  background-color : lemonChiffon;
  text-decoration: none
}

a.navbar:hover 
{
  color : yellow;
  background-color : blue;
  text-decoration: none
}

.navbarborder
{
  border-collapse : collapse; 
  border : 2px solid black
}