<!-- Code for the CACC Equipment Falure Report Page -->

<!-- Header -->
<div class="container">
  <header align="center">
    <!-- Ontario Logo -->
    <img class="logo" src="OntarioMOH.png" alt="Ontario MOH Logo" />

    <!-- Title -->
    <div name="title">
      <h1>
        CORTS - CACC Operational <br />
        Reports Tracking System
      </h1>
      <h3>454 - MIS CACC</h3>
    </div>

    <!-- Navigation Buttons -->
    <div name="nav">
      <button class="navBtn" routerLink="/mainpage">Start Page</button>
      <button class="navBtn" routerLink="/query">Search</button>
      <button class="navBtn" routerLink="/logout">Logout</button>
    </div>
  </header>
</div>

<!----------------------------------------------------------------->

<form>
  <!-- Basic Information -->
  <app-basic-information
    [corNumber]="corNumber"
    [routedToSelection]="routedToSelection"
    (routedToSelectionChangeDetect)="updateRoutedToSelection($event)"
    (statusIDChange)="updateStatusID($event)"
  >
  </app-basic-information>
  <!-- End of Basic Information (White Card) -->

  <!----------------------------------------------------------------->

  <!-- CACC Equipment Failure Report -->
  <div class="container">
    <h4>CACC Equipment Failure Report:</h4>
    <hr />

    <!-- CACC Equipment Failure Report Content -->
    <div class="grid-container">
      <!-- Equipment Type -->
      <div class="grid-item">
        <label class="req-input">Equipment Type*</label>
        <select
          [(ngModel)]="equipmentTypeKey"
          name="equipmentType"
          (change)="equipmentTypeChange(equipmentTypeKey)"
          required
        >
          <option value="">-- Select Equipment Type --</option>
          <option
            *ngFor="let type of equipmentTypeList"
            [value]="type.equipmentTypeKey"
          >
            {{ type.displayName }}
          </option>
        </select>
      </div>

      <!-- Location -->
      <div class="grid-item">
        <label class="req-input">Location*</label>
        <select
          [(ngModel)]="equipmentLocationKey"
          name="equipmentLocation"
          (change)="equipmentLocationChange(equipmentLocationKey)"
          required
        >
          <option value="">-- Select Equipment Location</option>
          <option
            *ngFor="let type of equipmentLocationList"
            [value]="type.equipmentLocationKey"
          >
            {{ type.displayName }}
          </option>
        </select>
      </div>

      <!-- Failure Date/Time -->
      <div class="grid-item">
        <label class="req-input">Failure Date/Time*</label>
        <input
          type="datetime-local"
          id="failureDateTime"
          class="date-picker"
          [(ngModel)]="failureDateTime"
          name="failureDateTime"
          (change)="failureDateTimeChange(failureDateTime)"
          required
        />
      </div>

      <!-- Service Request To -->
      <div class="grid-item">
        <label for="pronouncedDateTime">Service Request To</label>
        <input type="text" [(ngModel)]="requestComment" name="requestComment" />
        <input
          type="datetime-local"
          id="pronouncedDateTime"
          [(ngModel)]="requestDateTime"
          name="requestDateTime"
          (change)="requestDateTimeChange(requestDateTime)"
        />
      </div>

      <!-- Service Responded By -->
      <div class="grid-item">
        <label for="pronouncedDateTime">Service Responded By</label>
        <input type="text" [(ngModel)]="respondComment" name="respondComment" />
        <input
          type="datetime-local"
          id="pronouncedDateTime"
          [(ngModel)]="respondDateTime"
          name="respondDateTime"
          (change)="respondedDateTimeChange(respondDateTime)"
        />
      </div>

      <!-- Service Completed By -->
      <div class="grid-item">
        <label for="pronouncedDateTime">Service Completed By</label>
        <input
          type="text"
          [(ngModel)]="completedComment"
          name="completedComment"
        />
        <input
          type="datetime-local"
          id="pronouncedDateTime"
          [(ngModel)]="completedDateTime"
          name="completedDateTime"
          (change)="completedDateTimeChange(completedDateTime)"
        />
      </div>

      <!-- Failure Details or Other Info -->
      <div class="grid-item">
        <label class="req-input">Failure Details or Other Info*</label>
        <textarea
          rows="5"
          [(ngModel)]="equipmentCommentText"
          name="equipmentCommentText"
          required
        ></textarea>
      </div>

      <!-- Response Delay -->
      <div class="grid-item">
        <label for="responseDelay">Response Delay</label>
        <!-- Response Delay Checkbox -->
        <div class="time-duration-container">
          <input type="checkbox" id="delay" (change)="toggleDelayTime()" />
          <input
            type="number"
            id="delay-hours"
            min="0"
            max="99"
            step="1"
            value="00"
            [disabled]="!isDelaySelected"
          />
          <p>:</p>
          <input
            type="number"
            id="delay-minutes"
            min="0"
            max="59"
            step="1"
            value="00"
            [disabled]="!isDelaySelected"
          />
        </div>
      </div>
    </div>
    <!-- End of CACC Equipment Failure Report Content -->
  </div>
  <!-- End of CACC Equipment Failure Report (White Card) -->

  <!----------------------------------------------------------------->

  <!-- Narrative -->
  <div class="container">
    <h4>Narrative:</h4>
    <hr />

    <!-- Narative Table -->
    <table width="100%">
      <thead>
        <tr>
          <th width="10%">Date</th>
          <th width="13%">Time</th>
          <th width="10%">User</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of combinedEntries">
          <td>{{ entry.date }}</td>
          <td>{{ entry.time }}</td>
          <td>{{ entry.user }}</td>
          <td
            [ngClass]="{
              'equipment-comment': entry.type === 'equipment',
              'narrative-comment': entry.type === 'narrative'
            }"
            name="incidentComment"
          >
            {{ entry.comment }}
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Narrative Container for content under the table -->
    <div class="narrative-container">
      <!-- Narrative Comments -->
      <div class="grid-item">
        <label>Comments</label>
        <textarea
          rows="5"
          maxlength="255"
          [(ngModel)]="narrativeCommentText"
          name="narrativeCommentText"
        ></textarea>
      </div>

      <!-- Form Action Buttons -->
      <div class="form-actions">
        <button class="btn primary" (click)="saveChanges()">
          Save Changes
        </button>
        <button class="btn primary" (click)="saveChangesExit()">
          Save Changes and Exit
        </button>
        <button class="btn warn" (click)="reload()">Reload Page</button>
      </div>
    </div>
    <!-- End Narrative Container -->
  </div>
  <!-- End of Narrative (White Card)-->
</form>
