<!-- Code for the CACC Equipment Falure Report Page -->

<!-- Header -->
<app-header></app-header>

<!----------------------------------------------------------------->

<form>
  <!-- Basic Information -->
  <app-basic-information
    [corNumber]="corNumber"
    [routedToSelection]="routedToSelection"
    (routedToSelectionChangeDetect)="updateRoutedToSelection($event)"
    (statusIDChange)="updateStatusID($event)"
  >
  </app-basic-information>
  <!-- End of Basic Information (White Card) -->

  <!----------------------------------------------------------------->

  <!-- CACC Equipment Failure Report -->
  <div class="container">
    <h4>CACC Equipment Failure Report:</h4>
    <hr />

    <!-- CACC Equipment Failure Report Content -->
    <div class="grid-container">
      <!-- Equipment Type -->
      <div class="grid-item">
        <label class="req-input">Equipment Type*</label>
        <select
          [(ngModel)]="equipmentTypeKey"
          name="equipmentType"
          (change)="equipmentTypeChange(equipmentTypeKey)"
          appDisableIf
          required
        >
          <option value="">-- Select Equipment Type --</option>
          <option
            *ngFor="let type of equipmentTypeList"
            [value]="type.equipmentTypeKey"
          >
            {{ type.displayName }}
          </option>
        </select>
        <textarea
          type="text"
          rows="6"
          [(ngModel)]="equipmentDesc"
          name="equipmentDesc"
          appDisableIf
        ></textarea>
      </div>

      <!-- Location -->
      <div class="grid-item">
        <label class="req-input">Location*</label>
        <select
          [(ngModel)]="locationKey"
          name="locationKey"
          (change)="equipmentLocationChange(locationKey)"
          appDisableIf
          required
        >
          <option value="">-- Select Equipment Location</option>
          <option
            *ngFor="let type of equipmentLocationList"
            [value]="type.equipmentLocationKey"
          >
            {{ type.displayName }}
          </option>
        </select>
        <textarea
          type="text"
          rows="6"
          [(ngModel)]="locationDesc"
          name="locationDesc"
          appDisableIf
        ></textarea>
      </div>

      <!-- Failure Date/Time -->
      <div class="grid-item">
        <label class="req-input">Failure Date/Time*</label>
        <input
          type="datetime-local"
          id="failureDateTime"
          class="date-picker"
          [(ngModel)]="failureDateTime"
          name="failureDateTime"
          (change)="failureDateTimeChange(failureDateTime)"
          appDisableIf
          required
        />
      </div>

      <!-- Service Request To -->
      <div class="grid-item">
        <label for="pronouncedDateTime">Service Request To</label>
        <input type="text" [(ngModel)]="requestTo" name="requestTo" appDisableIf/>
        <input
          type="datetime-local"
          id="pronouncedDateTime"
          [(ngModel)]="requestDateTime"
          name="requestDateTime"
          (change)="requestDateTimeChange(requestDateTime)"
          appDisableIf
        />
      </div>

      <!-- Service Responded By -->
      <div class="grid-item">
        <label for="pronouncedDateTime">Service Responded By</label>
        <input type="text" [(ngModel)]="respondBy" name="respondBy" appDisableIf/>
        <input
          type="datetime-local"
          id="pronouncedDateTime"
          [(ngModel)]="respondDateTime"
          name="respondDateTime"
          (change)="respondedDateTimeChange(respondDateTime)"
          appDisableIf
        />
      </div>

      <!-- Service Completed By -->
      <div class="grid-item">
        <label for="pronouncedDateTime">Service Completed By</label>
        <input type="text" [(ngModel)]="completedBy" name="completedBy" appDisableIf/>
        <input
          type="datetime-local"
          id="pronouncedDateTime"
          [(ngModel)]="completedDateTime"
          name="completedDateTime"
          (change)="completedDateTimeChange(completedDateTime)"
          appDisableIf
        />
      </div>

      <!-- Failure Details or Other Info -->
      <div class="grid-item">
        <label class="req-input">Failure Details or Other Info*</label>
        <textarea
          rows="5"
          [(ngModel)]="failureCommentText"
          name="failureCommentText"
          (input)="isSaved = false"
          appDisableIf
          required
        ></textarea>
      </div>

      <!-- Response Delay -->
      <div class="grid-item">
        <label for="responseDelay">Response Delay</label>
        <!-- Response Delay Checkbox -->
        <div class="time-duration-container">
          <input
            type="checkbox"
            id="delay"
            name="delayTime"
            [(ngModel)]="isDelaySelected"
            (change)="toggleDelayTime()"
            appDisableIf
          />
          <input
            type="number"
            id="delay-hours"
            min="0"
            max="99"
            step="1"
            value="00"
            name="delayHours"
            [(ngModel)]="delayHours"
            [disabled]="!isDelaySelected"
            (change)="updateResponseDelay()"
            appDisableIf
          />
          <p>:</p>
          <input
            type="number"
            id="delay-minutes"
            min="0"
            max="59"
            step="1"
            value="00"
            name="delayMinutes"
            [(ngModel)]="delayMinutes"
            [disabled]="!isDelaySelected"
            (change)="updateResponseDelay()"
            appDisableIf
          />
        </div>
      </div>
    </div>
    <!-- End of CACC Equipment Failure Report Content -->
  </div>
  <!-- End of CACC Equipment Failure Report (White Card) -->

  <!----------------------------------------------------------------->

  <!-- Narrative -->
  <!-- Narrative -->
  <div class="container">
    <h4>Narrative:</h4>
    <hr />

    <app-narrative
      [combinedEntries]="combinedEntries"
      [(narrativeCommentText)]="narrativeCommentText"
      (saveChanges)="saveChanges()"
      (saveChangesExit)="saveChangesExit()"
      (reload)="reload()"
    ></app-narrative>
  </div>
  <!-- End of Narrative (White Card)-->
</form>
