<app-header></app-header>

<!-- Query Form -->
<div class="container">
  <h2>CACC Operational Report Query</h2>
  <hr />
  <form
    id="Query"
    method="post"
    action="Search.ASP?WCI=tplSearchQuery&WCE=Submit&WCU="
    target="_top"
  >
    <div class="grid-container">
      <!-- Date Created -->
      <div class="grid-item">
        <label>Date Created</label>
        <div class="date-field">
          <label class="date-label">From:</label>
          <input
            type="datetime-local"
            id="objDateFrom"
            name="objDateFrom"
            [(ngModel)]="dateCreatedFrom"
            name="dateCreatedFrom"
          />
        </div>
        <div class="date-field">
          <label class="date-label">To:</label>
          <input
            type="datetime-local"
            id="objDateTo"
            name="objDateTo"
            [(ngModel)]="dateCreatedTo"
            name="dateCreatedTo"
          />
        </div>
        <div class="inline-checkbox">
          <input
            type="checkbox"
            (click)="EnableDate('objDate')"
            [(ngModel)]="isAllDatesCreated"
            name="isAllDatesCreated"
          />
          <span>All Dates</span>
        </div>
      </div>

      <!-- Date Due -->
      <div class="grid-item">
        <label>Date Due</label>
        <div class="date-field">
          <input
            type="datetime-local"
            id="objDateDueFrom"
            name="objDateDueFrom"
            [(ngModel)]="dateDue"
          />
        </div>
        <div class="inline-checkbox">
          <input
            type="checkbox"
            (click)="EnableDate('objDateDue')"
            [(ngModel)]="isAllDatesDueDate"
            name="isAllDatesDueDate"
          />
          <span>All Dates</span>
        </div>
      </div>

      <!-- COR# -->
      <div class="grid-item">
        <label>COR #</label>
        <input
          type="text"
          name="txtCorNum"
          maxlength="7"
          [(ngModel)]="queryCorNumber"
          name="queryCorNumber"
        />
      </div>

      <!-- Incident (Call) # -->
      <div class="grid-item">
        <label>Incident (Call) #</label>
        <input
          type="text"
          name="txtIncidentNum"
          maxlength="16"
          [(ngModel)]="queryIncidentCallNumber"
          name="queryIncidentCallNumber"
        />
      </div>

      <!-- Creator -->
      <div class="grid-item">
        <label>Creator</label>
        <select
          name="drpCreator"
          [size]="10"
          class="CTSR"
          [(ngModel)]="queryCreator"
          name="queryCreator"
        >
          <option value="">(All)</option>
          <option
            *ngFor="let employee of employees"
            [value]="employee.empId"
            name="empId"
          >
            {{ employee.empName }} - {{ employee.code }}
          </option>
        </select>
      </div>

      <!-- COR Type -->
      <div class="grid-item">
        <label>Type</label>
        <select
          name="drpType"
          [size]="10"
          class="CTSR"
          [(ngModel)]="queryCorType"
          name="queryCorType"
        >
          <option value="">(All)</option>
          <option
            *ngFor="let type of cortTypes"
            [value]="type.cORTypeKey"
            name="cORTypeKey"
          >
            {{ type.displayName }}
          </option>
        </select>
      </div>

      <!-- Status -->
      <div class="grid-item">
        <label>Status</label>
        <select
          name="drpStatus"
          [size]="10"
          class="CTSR"
          [(ngModel)]="queryCorStatus"
          name="queryCorStatus"
        >
          <option value="">(All)</option>
          <option
            *ngFor="let status of statuses"
            [value]="status.cORStatusKey"
            name="cORStatusKey"
          >
            {{ status.displayName }}
          </option>
        </select>
      </div>

      <!-- Routed To -->
      <div class="grid-item">
        <label>Routed To</label>
        <select
          name="drpAssign"
          [size]="10"
          class="CTSR"
          [(ngModel)]="queryRoutedTo"
          name="queryRoutedTo"
        >
          <option value="" class="All">(All)</option>
          <ng-container *ngFor="let route of routes">
            <option [value]="'group-' + route.code" class="group-option">
              {{ route.displayName }}
            </option>
            <option
              *ngFor="let emp of groupedRoutes[route.displayName]"
              [value]="emp.empId"
            >
              {{ emp.empName }} - {{ emp.functionalityGroup }}
            </option>
          </ng-container>
        </select>
      </div>
    </div>
  </form>

  <hr />

  <!-- Full Text  -->
  <div class="grid-container-2c">
    <div class="grid-item">
      <label>Full Text Search</label>
      <input
        type="text"
        name="txtFulltext"
        placeholder="Enter search text"
        [(ngModel)]="searchText"
        name="searchText"
      />
    </div>
  </div>

  <!-- Search Button -->
  <div class="form-actions" align="center">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="searchCORs()"
    >
      Search for CORs
    </button>
  </div>
</div>

<div class="container">
  <!-- Search Results -->
  <div class="results">
    <div class="result-header">
      <h1 class="results-title">Search Results</h1>

      <div class="pagination-controls">
        <label for="itemsPerPage">Items per page:</label>
        <select id="itemsPerPage" (change)="onItemsPerPageChange($event)">
          <option
            *ngFor="let option of itemsPerPageOptions"
            [value]="option"
            [selected]="option === itemsPerPage"
          >
            {{ option }}
          </option>
        </select>
      </div>
    </div>
    <table width="100%">
      <thead>
        <tr>
          <th (click)="sortTable('dateTime')">
            Date/Time
            <span *ngIf="sortedColumn === 'dateTime'">
              {{ sortDirection === "asc" ? "▲" : "▼" }}
            </span>
          </th>
          <th (click)="sortTable('type')">
            Type
            <span *ngIf="sortedColumn === 'type'">
              {{ sortDirection === "asc" ? "▲" : "▼" }}
            </span>
          </th>
          <th (click)="sortTable('incident')">
            Incident (Call) #
            <span *ngIf="sortedColumn === 'incident'">
              {{ sortDirection === "asc" ? "▲" : "▼" }}
            </span>
          </th>
          <th (click)="sortTable('cor')">
            COR #
            <span *ngIf="sortedColumn === 'cor'">
              {{ sortDirection === "asc" ? "▲" : "▼" }}
            </span>
          </th>
          <th (click)="sortTable('creator')">
            Creator
            <span *ngIf="sortedColumn === 'creator'">
              {{ sortDirection === "asc" ? "▲" : "▼" }}
            </span>
          </th>
          <th (click)="sortTable('routedTo')">
            Routed To
            <span *ngIf="sortedColumn === 'routedTo'">
              {{ sortDirection === "asc" ? "▲" : "▼" }}
            </span>
          </th>
          <th (click)="sortTable('dateDue')">
            Date Due
            <span *ngIf="sortedColumn === 'dateDue'">
              {{ sortDirection === "asc" ? "▲" : "▼" }}
            </span>
          </th>
          <th (click)="sortTable('status')">
            Status
            <span *ngIf="sortedColumn === 'status'">
              {{ sortDirection === "asc" ? "▲" : "▼" }}
            </span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of currentPageData">
          <td>{{ item.dateTime }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.incident }}</td>
          <td>{{ item.cor }}</td>
          <td>{{ item.creator }}</td>
          <td>{{ item.routedTo }}</td>
          <td>{{ item.dateDue }}</td>
          <td>{{ item.status }}</td>
        </tr>
        <tr *ngIf="data.length === 0">
          <td colspan="8">
            No results found. Try again using different search parameters.
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination-bar">
      <span
        ><b>Page {{ currentPage }} of {{ totalPages }}</b></span
      >
    </div>
    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="SetDirection('Prev')">
        Prev Page
      </button>
      <button
        [disabled]="currentPage === totalPages"
        (click)="SetDirection('Next')"
      >
        Next Page
      </button>
    </div>
  </div>
</div>
