.results {
  width:auto;
  padding: 0.5em;
  border-radius: 0.3em;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.filter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 1em;
}

.filter-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grid-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5em;
  padding: 1.5em;
  align-items: start;
}

.grid-item {
  flex-direction: column;
}

.inline-checkbox{
  display: flex;
  align-items: center;
  gap: 0.5em;
  white-space: nowrap;
}

.date-field{
  width: 100%;
}


.date-label{
  font-size: 1em;
  font-weight: normal;
}

