button, input[type="submit"]{
  width: 10em;
  background-color: #c3dee9;
}

button:hover, input[type="submit"]:hover {
  background-color: #809299;
  cursor: pointer;
}

.form-container{
  gap:0;
}

.grid-container {
  grid-template-columns: auto 1fr;
  max-width: 600px;
}

.grid-item label {
  font-weight: normal;
  white-space: nowrap;
}
