.form-container {
  display: flex;
  flex-direction: column;
  gap:0;
}

.grid-container {
  align-items: center;
  margin: auto;
  gap: 0.5em;
  padding: 0.5em;
  grid-template-columns: auto 1fr;
}

.grid-item {
  flex-direction: unset;
}

.grid-item label {
  font-weight: normal;
  white-space: nowrap;
}
