<!-- Code for Start Page -->

<!-- Header, content, and footer inside the same white card -->
<div class="container">
  <!-- Header -->
  <header align="center">
    <!-- Ontario Logo -->
    <img class="logo" src="OntarioMOH.png" alt="Ontario MOH Logo" />

    <!-- Title -->
    <div name="title">
      <h1>
        CORTS - CACC Operational <br />
        Reports Tracking System
      </h1>
      <h3>454 - MIS CACC</h3>
    </div>
    <div name="nav"></div>
    <hr />
    <h2>Start Page</h2>
  </header>

  <!-- Start page content -->
  <div class="form-container">
    <div class="grid-container">
      <!-- Create a new COR: -->
      <div class="grid-item">
        <input type="radio" value="NewCOR" checked name="R1" />
      </div>
      <div class="grid-item">
        <label for="create-new">Create a New COR:</label>
        <select id="create-new">
          <option *ngFor="let type of cortsTypeList" [value]="type.cORTypeKey">
            {{ type.displayName }}
          </option>
        </select>
      </div>

      <!--Find an existing COR-->
      <div class="grid-item">
        <input type="radio" id="find-cor" value="FindCOR" name="R1" />
      </div>
      <div class="grid-item">
        <label for="find-cor" value="existing">Find an Existing COR</label>
      </div>

      <!--Logout-->
      <div class="grid-item">
        <input type="radio" value="Logout" name="R1" />
      </div>
      <div class="grid-item">
        <label value="logout">Logout of CORTS</label>
      </div>
    </div>

    <!--Proceed Button-->
    <div class="grid-container">
      <input
        type="submit"
        value="Proceed"
        class="subbtn"
        (click)="onProceed()"
      />
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <hr />
    <p>
      Hello {{ userName }}, you currently have
      <b
        ><a [routerLink]="['/query']" [queryParams]="{ source: 'mainpage' }"
          >{{ corCount }} COR{{ corCount === 1 ? "" : "s" }} routed to you.</a
        ></b
      >
    </p>

    <hr />
  </footer>
</div>
