.form-container {
  display: flex;
  flex-direction: column;
}

.grid-container {
  align-items: center;
  margin: auto;
  gap: 0.5em;
  padding: 0.5em;
  grid-template-columns: auto 1fr;
}

.grid-item {
  flex-direction: unset;
}

button, input[type="submit"]{
  width: 10em;
  background-color: #c3dee9;
}

button:hover, input[type="submit"]:hover {
  background-color: #809299;
  cursor: pointer;
}

.form-container{
  gap:0;
}

.grid-item label {
  font-weight: normal;
  white-space: nowrap;
}
