<!-- Header -->
<app-header></app-header>

<!-- Top Bar -->
<div class="container">
  <strong>Basic Information</strong>
  <div class="grid-container">
    <div><strong>ID</strong><br />663</div>
    <div><strong>Priority</strong><br />RED</div>
    <div><strong>Problem Nature</strong><br />26D01 Sick Person</div>
    <div><strong>Master Incident Number</strong><br />940-0018955622</div>
    <div><strong>Status</strong><br />At or After DPT</div>
    <div><strong>Elapsed</strong><br />01:40:41</div>
  </div>

  <!-- Address Section -->
  <div class="grid-container">
    <div>
      <strong>Pickup Address</strong><br />
      Zone: OPS<br />
      Premise: -<br />
      Address: 73 Tripp Cr, OTTAWA C, ON
    </div>
    <div>
      <strong>Hazard</strong><br />
      <br />
      <strong>Caution Note</strong>
    </div>
    <div>
      <strong>Destination Address</strong><br />
      Unit: 4919<br />
      Premise: QCH Queensway Carleton (Ottawa) HO<br />
      Address: 3045 BASELINE RD, OTTAWA C, ON
    </div>
  </div>
</div>

<!-- Times and Side Info -->
<div class="container">
  <div>
    <div>
      <strong>Times</strong>
      <table>
        <thead>
          <tr>
            <th>Unit</th>
            <th>Res Type</th>
            <th>Priority</th>
            <th>UP</th>
            <th>NTF</th>
            <th>NRP</th>
            <th>ENR</th>
            <th>ARR</th>
            <th>DPT</th>
            <th>ARD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>4919</td>
            <td>ATU</td>
            <td>RED</td>
            <td>14:59:28</td>
            <td>-</td>
            <td>-</td>
            <td>15:01:19</td>
            <td>15:05:04</td>
            <td>15:33:58</td>
            <td>15:50:05</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="grid-container">
      <div>
        <strong>Time Stamps</strong><br />
        ADO ACC Duty Officer Notified<br />
        ER Emerg/Hospital Notified<br />
        FSUP Fleet Supervisor Notified<br />
        ...
      </div>
      <div>
        <strong>Transport Info</strong><br />
        CTAS DPT for 4919<br />
        3 CTAS Level 3
      </div>
      <div>
        <strong>Other Info</strong><br />
        PIC: -<br />
        # PIC: -<br />
        Late: -
      </div>
    </div>
  </div>
</div>

<!-- Comments -->
<div class="container">
  <div>
    <strong>Comments</strong>
    <table>
      <thead>
        <tr>
          <th>Date Time</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>23/04/2025 14:57:27</td>
          <td>
            *** [E911 WIRELESS]: >>>>>UNCERTAINTY DISTANCE from this LOC'N: 6
            METRES
          </td>
        </tr>
        <tr>
          <td>23/04/2025 14:58:24</td>
          <td>
            63-year-old, Male, Conscious, Breathing. Problem: FOUND CATATONIC,
            SEIZURE, VERY WEAK
          </td>
        </tr>
        <tr>
          <td>23/04/2025 14:58:42</td>
          <td>[Notification] PROQA URGENT MESSAGE: RAPID HR</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
