/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 2em;
  background-color: #c5dcee;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
}

h2{
  text-align: center;
}

h4{
  font-size: 1.2em;
}

button, input[type="submit"]{
  text-align: center;
  min-width: 12em;
  background-color: #c3e4ff;
  padding: 0.7em;
  margin: 0.7em;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

button:hover, input[type="submit"]:hover {
  background-color: #809299;
  cursor: pointer;
}

button:disabled{
  background-color: #dddddd;
  cursor: auto;
}

.container {
  margin: 2em;
  padding: 1.5em;
  background-color: #ffffff;
  box-shadow: 0em 0.4em 0.6em rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  overflow: hidden;
}

.grid-container {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 2.5em;
  padding: 1.5em;
  align-items: start;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  min-height: 2.5em;
}

.grid-item label {
  font-size: 1.1em;
  font-weight: bold;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

input, select, textarea {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 0.5em;
}

textarea {
  resize: vertical;
}

button.primary {
  background-color: #1970ce;
  color: white;
}

button.warn {
  background-color: #da2e3f;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5em;
}

thead tr {
  border-bottom: 2px solid #000;
}

th, td {
  padding: 1em;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #ccc;
}
